
html(lang='en')
  head
    
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
    link(rel='stylesheet', href='stylesheets/style.css')
    title View My Work
  body
    header
      .menu-btn
        .btn-line
        .btn-line
        .btn-line
      nav.menu
        .menu-branding
          .portrait
        ul.menu-nav
          li.nav-item
            a.nav-link(href='index.html')
              | Home
          li.nav-item
            a.nav-link(href='about.html')
              | About Me
          li.nav-item.current
            a.nav-link(href='work.html')
              | My Work
          li.nav-item
            a.nav-link(href='contact.html')
              | How To Reach Me
    main#work
      h1.lg-heading
        | My
        span.text-secondary Work
      h2.sm-heading
        | Check out some of my projects...
      .projects
        .item
          a(href='#!')
            img(src='img/projects/project1.jpg', alt='Project')
          a.btn-light(href='#')
            i.fas.fa-eye
            |  Project
          a.btn-dark(href='#')
            i.fab.fa-github
            |  Github
        .item
          a(href='#!')
            img(src='img/projects/project2.jpg', alt='Project')
          a.btn-light(href='#')
            i.fas.fa-eye
            |  Project
          a.btn-dark(href='#')
            i.fab.fa-github
            |  Github
        .item
          a(href='#!')
            img(src='img/projects/project3.jpg', alt='Project')
          a.btn-light(href='#')
            i.fas.fa-eye
            |  Project
          a.btn-dark(href='#')
            i.fab.fa-github
            |  Github
        .item
          a(href='#!')
            img(src='img/projects/project4.jpg', alt='Project')
          a.btn-light(href='#')
            i.fas.fa-eye
            |  Project
          a.btn-dark(href='#')
            i.fab.fa-github
            |  Github
        .item
          a(href='#!')
            img(src='img/projects/project5.jpg', alt='Project')
          a.btn-light(href='#')
            i.fas.fa-eye
            |  Project
          a.btn-dark(href='#')
            i.fab.fa-github
            |  Github
    footer#main-footer
      | Copyright © 2018
    script(src='app.js')
     block content
